<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">


    <script src="script.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>
  <canvas id="canvas"></canvas>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="index.html">Love Percentage</a>
  <a href="#">Competitor</a>
  <a href="soulmatefinder.html">Soulmate Finder</a>
</div>

  <span style="font-size:30px;cursor:pointer;position:relative" onclick="openNav()"><label>&#9776;&nbsp;LoveBox</label></span>
  <h1 >Soul Mate</h1>
<div ng-app="soulMate" ng-controller="soulMateCtrl">
<div class="container" style="width:50%">
  <form name="myForm">
  <div class="form-group">
    <label>Your Name:</label>
    <input type="text" class="form-control" placeholder="Your Name.." ng-model="smMyName" required="text"/>
  </div>
  <button class="btn btn-success"  ng-click="findSoulMate()">Find</button>
</form>
</div>
<br><br>

<div ng-show="soulMateName">
<div id="Awesome" class="anim750">
  <div class="reveal circle_wrapper">
		<div id="smname" class="circle">Vedanti</div>
	</div>

	<div class="sticky anim750">
		<div class="front circle_wrapper anim750">
			<div class="circle anim750"></div>
	  </div>
	</div>

  <h4>Reveal!</h4>

  <div class="sticky anim750">
		<div class="back circle_wrapper anim750">
			<div class="circle anim750"></div>
		</div>
	</div>
</div>
</div>

</div>
</body>
</html>
