/*-------------------------Toogle Menu Starts-------------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*-------------------------Toogle Menu Ends-------------------------*/

/*Heart Style Starts*/
body {
  background: #B7004E;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  position:relative;
}
#canvas{
  position:absolute;
}

h1{
  	font-weight: bold;
    font-size: 400%;
  	font-family: 'Niconne', cursive;
  	color: #F90;
  	text-align: center;
    /*margin-top: 0;*/
    position: relative;
  }
.btn{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   width: 100%;
   font-family: 'Aref Ruqaa', serif;
}
label{
  font-family: 'Aref Ruqaa', serif;
  color: #F90;
  font-size: 100%;
  cursor: pointer;

}
input[type="text"]{
	font-family: 'Aref Ruqaa', serif;
  font-weight: bold;
}
input:focus, textarea:focus{
	border: solid 3px #ef1313;
}

#count,p{
  display:inline-block;
  text-align: center;
  font-size: 600%;
  color: #F90;
  font-family: 'Aref Ruqaa', serif;
}
.percent{
  text-align: center;
}

.mecrush{
  font-size: 150%;
  color: #F90;
}
.name{
  text-align: center;
  top: 0;
}

/*-------------------------Heart Beats Starts-------------------------*/
.heart {
  width: 55px;
  height: 43px;
  z-index: 5;
  animation: beat 1.2s ease-in-out infinite forwards;
}

@keyframes beat {
  0%, 100% { transform: scale3d(1,1,1);}
  15%, 45% { transform: scale3d(1.2,1.2,1); }
  35% { transform: scale3d(1.1,1.1,1); }
  65% { transform: scale3d(1,1,1); }
}

@keyframes beat-shadow {
  0%, 100% { transform: scale3d(1,1,1);}
  15%, 45% { transform: scale3d(1.05,1.05,1); }
  30%, 60% { transform: scale3d(1,1,1); }
}
/*-------------------------Heart Beats Ends-------------------------*/

.anim750{
  transition: all 750ms ease-in-out;
}

#Awesome{
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;

  backface-visibility: hidden;
}

#Awesome .sticky{
	transform: rotate(45deg);
}

#Awesome:hover .sticky{
	transform: rotate(10deg);
}

#Awesome .sticky{
	position: absolute;
	top: 0;
	left: 0;
	width:180px;
	height: 180px;
}

#Awesome .reveal .circle{
	box-shadow: 0 1px 0px rgba(0,0,0,.15);

  font-family: 'helvetica neue', arial;
  font-weight: 200;
  line-height: 140px;
  text-align: center;

  cursor: pointer;
}

#Awesome .reveal .circle{
	background: #fafafa;
}

#Awesome .circle_wrapper{
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

#Awesome .circle{
	position: absolute;
	width: 140px;
	height:  140px;
	margin: 20px;

	border-radius: 999px;
}

#Awesome .back{
	height: 10px;
	top: 30px;
}

#Awesome:hover .back{
	height: 90px;
	top: 110px;
}

#Awesome .back .circle{
	margin-top: -130px;
	background-color: #fbec3f;

	background-image: -webkit-linear-gradient(bottom, rgba(251,236,63,.0), rgba(255,255,255,.8));
}

#Awesome:hover .back .circle{
	margin-top: -50px;
}

#Awesome .front{
	height: 150px;
	bottom: 0;
	top: auto;

	-webkit-box-shadow: 0 -140px 20px -140px rgba(0,0,0,.3);
}

#Awesome:hover .front{
	height: 70px;

	-webkit-box-shadow: 0 -60px 10px -60px rgba(0,0,0,.1);
}

#Awesome .front .circle{
	margin-top: -10px;
	background: #fbec3f;

	background-image: -webkit-linear-gradient(bottom, rgba(251,236,63,.0) 75%, #f7bb37 95%);
  background-image: -moz-linear-gradient(bottom, rgba(251,236,63,.0) 75%, #f7bb37 95%);
  background-image: linear-gradient(bottom, rgba(251,236,63,.0) 75%, #f7bb37 95%);
}

#Awesome h4{
  font-family: 'helvetica neue', arial;
  font-weight: 200;
  text-align: center;
	position: absolute;
	width: 180px;
	height: 140px;
  line-height: 140px;

	transition: opacity 50ms linear 400ms;
}

#Awesome:hover h4{
	opacity: 0;

	transition: opacity 50ms linear 300ms;
}

#Awesome:hover .front .circle{
	margin-top: -90px;
	background-color: #e2d439;
	background-position: 0 100px;
}
